.timeline-slider .ngx-slider .ngx-slider-bar {
  background: #ffe4d1;
  height: 5px;
}

.timeline-slider .ngx-slider .ngx-slider-selection {
  background: orange;
}

.timeline-slider .ngx-slider .ngx-slider-pointer {
  width: 10px;
  height: 15px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: blue;
}

.timeline-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}

.timeline-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
}

.timeline-slider .ngx-slider .ngx-slider-limit {
  font-weight: bold;
  color: red;
}

.timeline-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 15px;
  margin-left: 4px;
  border-radius: 0;
  background: black;
  top: -1px;
}

.timeline-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: rgb(0, 110, 255);
}
