<!--<form class="form-horizontal"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
      novalidate>
  <input type="hidden" name="id" />

  <h6>Name:</h6>
  <input type="text"
         name="name"
         placeholder="Name"
         class="form-control"
         [ngModel]="timeline?.Name" />

  <h6>Description:</h6>
  <textarea class="form-control"
            rows="5"
            name="description">
          </textarea>

  <p>&nbsp;</p>
  <button type="submit" class="form-control btn-primary">Save</button>
</form>-->
