
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div class=" image d-flex flex-column justify-content-center align-items-center">
      <button class="btn btn-secondary"> <img src="../../assets/eye-png-42314.png" height="100" width="100" /></button>

      <form class="form-horizontal login-form"
            #f="ngForm"
            (ngSubmit)="onSubmit(f)"
            novalidate>
        <input type="hidden" name="id" [ngModel]="id" />

        <h6>Username:</h6>
        <input type="text"
               name="username"
               placeholder="Username"
               class="form-control"
               [ngModel]="username" />

        <h6>Password:</h6>
        <input type="password"
               name="password"
               placeholder="Password"
               class="form-control"
               [ngModel]="password" />

        <p>&nbsp;</p>
        <button type="submit" class="form-control btn-primary">Login</button>
      </form>
      <div class="alert alert-success" *ngIf="isLoggedIn; loginFailed">
        Logged in as {{ roles }}.
      </div>
      <ng-template #loginFailed>
        <div class="alert alert-danger">
          Log in failed.
        </div>
      </ng-template>
    </div>
  </div>
</div>
