<div class="component-wrapper">
  <div class="content-body">
    <div class="component-title">
      <h5>{{ attribute != null ? "Edit Attribute" : "Create Attribute" }}</h5>
    </div>

    <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <input type="hidden" name="id" [ngModel]="attribute?.id ?? 0" />

      <h6>Name:</h6>
      <input type="text"
             name="name"
             placeholder="Name"
             class="form-control"
             [ngModel]="attribute?.name" />

      <h6>Description:</h6>
      <textarea class="form-control"
                rows="5"
                name="description"
                [ngModel]="attribute?.description"></textarea>

      <p>&nbsp;</p>
      <button type="submit" class="form-control btn-primary">Save</button>
    </form>
  </div>
</div>
