<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand">OurEyes</a>

  <ul class="navbar-nav flex-grow area-menu">
    <li class="nav-item"
        *ngFor="let area of areas"
        [routerLinkActive]="['link-active']"
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" [routerLink]="['/area/' + area.Id]">
        {{
        area.Name
        }}
      </a>
    </li>
  </ul>

  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
    </li>
    <li class="nav-item" *ngIf="showAdminBoard">
      <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
    </li>
    <li class="nav-item" *ngIf="showModeratorBoard">
      <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
    </li>
    <li class="nav-item">
      <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <li class="nav-item">
      <a href="javascript:void(0)" (click)="open(registerModal, true)" class="nav-link">Sign Up</a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" (click)="open(loginModal, true)" class="nav-link">Login</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link" (click)="logout()">LogOut</a>
    </li>
  </ul>
</nav>

<ng-template #loginModal let-modal>
  <div class="modal-body">
    <app-login></app-login>
  </div>
</ng-template>

<ng-template #registerModal let-modal>
  <div class="modal-body">
    <app-register></app-register>
  </div>
</ng-template>
