<div class="component-title">
  <h4>{{ collection != null ? "Edit Collection" : "Create Collection" }}</h4>
</div>

<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input type="hidden" name="id" [ngModel]="collection?.id ?? 0" />
  <input type="hidden" name="selectedArea" [ngModel]="selectedArea ?? 0" />

  <h6>Name:</h6>
  <input type="text"
         name="name"
         placeholder="Name"
         class="form-control"
         [ngModel]="collection?.name"
         required />

  <h6>Area:</h6>

  <select *ngIf="areaViewModels"
          name="selectedArea"
          id="areaId"
          [ngModel]="selectedArea"
          class="form-control">
    <option *ngFor="let area of areaViewModels" [value]="area.id">
      {{ area.name }}
    </option>
  </select>

  <h6>Description:</h6>
  <textarea class="form-control"
            rows="5"
            name="description"
            [ngModel]="collection?.description"></textarea>


  <h6>Type content in this collection:</h6>
  <div class="list">
    <ul>
      <li *ngFor="let contentType of contentTypes">
        <input type="button" value="{{ contentType.name }}" class="content-btn form-control btn-{{ contentType.name }}" />
      </li>
    </ul>
  </div>


  <h6>Cover Image</h6>
  <app-upload></app-upload>
  <p>&nbsp;</p>
  <button type="submit" class="form-control btn-primary">Save</button>
</form>
